.settleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 8.4vh);
}

.settleCard {
  background-color: #fff;
  border-radius: 20px;
  padding: 40px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.settleTitle {
  color: #0d3685;
  font-size: 1.8rem;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 600;
}

.settlementCards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.settlementCard {
  background-color: rgba(9, 110, 153, 0.1);
  border-radius: 10px;
  padding: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: #0d3685;
}

.settlementCard:hover {
  background-color: rgba(9, 55, 77, 0.2);
}

.userName {
  font-weight: bold;
  margin-bottom: 10px;
}

.amount {
  font-size: 1.1rem;
}

.paymentCard {
  text-align: center;
  color: #0d3685;
}

.inputGroup {
  display: flex;
  margin-bottom: 20px;
  background-color: rgba(20, 141, 169, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.paymentInput {
  flex-grow: 1;
  padding: 15px;
  border: none;
  background: transparent;
  color: #0d3685;
  font-size: 1.2rem;
  text-align: center;
  outline: none;
}

.paymentInput::-webkit-inner-spin-button,
.paymentInput::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.incrementButton {
  background-color: rgba(120, 199, 236, 0.2);
  border: none;
  padding: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.incrementButton:hover {
  background-color: rgba(30, 185, 205, 0.3);
}

.incrementButton svg {
  width: 24px;
  height: 24px;
  color: #0d3685;
}

.payButton {
  background-color: #58c9f4;
  color: white;
  border: none;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1.2rem;
  font-weight: bold;
  width: 100%;
  margin-bottom: 20px;
}

.payButton:hover {
  background-color: #1399ca;
}

.balanceInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #0d3685;
  font-size: 1.1rem;
}

.negative {
  color: #ffa07a;
  font-weight: bold;
}

.upiOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.confirmationOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.closeButton {
  margin-top: 20px;
  padding: 10px 20px;
  color: white;
  background-color: #d32f2f;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.confirmationCard {
  background-color: #fff;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 400px;
  text-align: center;
  color: #0d3685;
}
.confirmationTitle {
  font-size: 1.8rem;
  margin-bottom: 20px;
  font-weight: 600;
}
.confirmationText {
  font-size: 1.1rem;
  margin-bottom: 30px;
}
.confirmationButtons {
  display: flex;
  justify-content: space-around;
}

.confirmationButtons button {
  padding: 12px 24px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.1s ease;
}

.confirmButton,
.cancelButton {
  background-color: #0d3685;
  color: white;
}
.confirmationButtons button:active {
  transform: scale(0.98);
}
.confirmButton:hover {
  background-color: #45a049;
}

.cancelButton:hover {
  background-color: #d32f2f;
}
.paymentTitle {
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-weight: 600;
}

@media (max-width: 480px) {
  .confirmationCard {
    padding: 20px;
  }

  .confirmationTitle {
    font-size: 1.5rem;
  }

  .confirmationText {
    font-size: 1rem;
  }

  .confirmationButtons button {
    padding: 10px 20px;
    font-size: 0.9rem;
  }
  .settleCard {
    padding: 30px;
  }

  .settleTitle {
    font-size: 1.5rem;
  }

  .paymentInput,
  .payButton {
    font-size: 1rem;
  }

  .balanceInfo {
    font-size: 1rem;
  }
}
