form.Add-trip {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
  min-height: 115px;
}
form.Add-trip input {
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
  width: 420px;
}
form.Add-trip #Add-group {
  position: absolute;
  right: 18px;
  bottom: -16px;
  background: #ffffff;
  color: #0b60b0;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}
form.Add-trip #Add-person {
  margin: 0;
  padding: 0;
  color: #0d3685;
  background-color: #fff;
  border: 0;
  position: relative;
  top: 4px;
}

#login {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
