.header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.1rem 1.7rem 0.9rem 1.7rem;
  background-color: #f8f9fa;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  margin-top: -10px;
  border-radius: 15px;
}

.header h1 {
  color: #0b60b0;
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
}

.equi {
  color: #0d3685;
}

.authButton {
  background-color: #74a4b5;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Nunito', sans-serif;
  font-size: medium;
}

.authButton:hover {
  background-color: rgb(227, 87, 87);
}