* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html {
    font-family: "Montserrat", sans-serif;
  }
  body {
   background-color: #00a6e4;
  }
  
#red{
  color:#eb3d60;
}
#green{
  color:#3cb33c;
}

#history_card{
  border-radius: 12px;
  background-color: #fff;

}

.grey{
  background-color: #ECEFEF;
}

.data{
  padding:5px;
  margin-left:20px;
  margin-right:20px;
  position: relative;
  font-family: "Work Sans", sans-serif;
  font-size:small;
}

.data p{
  font-weight:300;
  padding:1px;
}

.data h3{
  font-weight:400;
  padding:1px;
}


